# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
npm-debug.log*
*.log

# Build output
dist/

# Coverage
coverage/

# Vercel
.vercel/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/